/*
* {
    border: 1px solid black;
}
*/

* {
  margin: 0;
  padding: 0;
    color: #000;
}

h1 {
    font-family: 'Pacifico', cursive;
    font-size:7em;
    color: #000;
    text-align: center;
}

h2 {
    font-family: 'Open Sans', sans-serif;
    font-size:1em;
    color: #000;
    text-align: center;
}

ul {
}

li {
  display: inline-block;
  padding: 0 20px;
}

a:link {
    color: #FFF;
    text-decoration: none;
}

a:hover {
    color: Gray;
}

.navbar {
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
    text-align: center;
}



.content {
    margin: 20px;
    padding: 20px;
}
