/*
* {
    border: 1px solid black;
}
*/

* {
  margin: 0;
  padding: 0;
}

h1 {
    font-family: 'Pacifico', cursive;
    font-size:7em;
    color: #000;
    text-align: center;
    padding: 10px;
}

h2 {
    font-family: 'Open Sans', sans-serif;
    font-size:1em;
    color: #000;
    text-align: left;
    padding: 10px;
}

/*ul {
    text-align: center;
}*/

/*li {
  display: inline-block;
  padding: 0 20px;
}*/

a {
    color: #000;
    text-decoration: none;
}

/*.navbar {
    width: 100%;
    position: fixed;
    background-color: #FFF;
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
}*/

.content {
    margin: 20px;
    padding: 20px;
}
